footer#colophon{

  text-align: center;
  padding-top:2em;

  .site-info{
    display:none;
  }

  #logo-footer{
    width:300px;
    height: auto;

  }

  background-color: $gray;
  min-height: 300px;
  color:white !important;

  .icon{
    font-size:3em;
  }

  a {
   color: white;;
   &:visited {
     color: white;
   }
   &:hover {
     color: #cccccc;
   }
   &:active {
     color: #cccccc;
   }

   cursor: pointer;

 }


}

.footer-details{
  padding-top:3em;

  .col-sm{
    padding-bottom:2em;
  }

}//end .footer-details

.footer-social-icons{
  padding-top:1em;
  padding-bottom:0em;

}


p.legal{
  font-size: .85em;
padding-top: 2em;
}

.search-form .search-submit {
    // background-color: $primary;
}

form.search-form{
  width:50%;
  margin:0 auto;
}

.site-footer .wrap {
    padding-bottom: 1.5em;
    padding-top:0;
}

.footer-details {
    padding-top: 2em;
}



@media screen and (max-width: 768px){
  form.search-form{
    width:90%;
    margin:0 auto;
  }
}
