footer#colophon{

  text-align: center;
  padding-top:2em;

  #logo-footer{
    width:300px;
    height: auto;

  }

  background-color: black;
  min-height: 300px;
  color:white !important;

  .icon{
    font-size:3em;
  }

  a {
   color: white;
   &:visited {
     color: white;
   }
   &:hover {
     color: #cccccc;
   }
   &:active {
     color: #cccccc;
   }

   cursor: pointer;

 }


}

.footer-details{
  padding-top:3em;

  .col-sm{
    padding-bottom:2em;
  }

}//end .footer-details
