.menu-toggle:focus {
    outline: none;
}

@media screen and (min-width: 48em){


  .site-navigation-fixed.navigation-top {
    position: relative;
  }

}

.custom-header{
  display:none;
}

#masthead{

  h1.logo{
    // border:2px solid purple;
    color:$primary;
    text-align: center;
  }

  a {
   text-decoration: none;
   &:visited {
     text-decoration: none;
   }
   &:hover {
     text-decoration: none;
   }
   &:active {
     text-decoration: none;
   }

   cursor: pointer;

 }

  .main-navigation ul {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0 1.5em;
    text-align: center;
    text-transform: uppercase;
  }

}



.has-header-image .custom-header-media img,
.has-header-video .custom-header-media video,
.has-header-video .custom-header-media iframe {
   position: static;
}
