.menu-toggle:focus {
    outline: none;
}

.menu-main-container{
  font-family: "Oswald", sans-serif;
    font-size: 1.25em;
}

.carousel-caption h1{
  color:white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  background-color: rgba(113,128,143,0.4);
}

@media screen and (min-width: 48em){

  .site-navigation-fixed.navigation-top {
    position: relative;
  }

}


.custom-header{
  display:none;
}


#masthead{

  text-align: center;

  h1.logo{
    color:$primary;
    text-align: center;
  }

  a {
   text-decoration: none;
   &:visited {
     text-decoration: none;
   }
   &:hover {
     text-decoration: none;
   }
   &:active {
     text-decoration: none;
   }

   cursor: pointer;

 }

  .main-navigation ul {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0 1.5em;
    text-align: center;
    text-transform: uppercase;
  }

}


.has-header-image .custom-header-media img,
.has-header-video .custom-header-media video,
.has-header-video .custom-header-media iframe {
   position: static;
}

#main-logo{
  width:300px;
  height:auto;
}

#masthead .main-navigation ul {
  padding:0;
}

@media screen and (min-width: 900px){
  #main-logo{
    width: 400px;
    height:auto;
  }
}


@media screen and (min-width: 48em){
  .main-navigation li li:hover,
  .main-navigation li li.focus {
      background: $primary;
  }
}

.sf-sub-indicator {
display: none;
}
