/*
 * Main styles, written in SCSS.
 * Examples taken from http://sass-lang.com/guide
 *
 *
 */

.primary-color{
  color: $primary;
}

h1, h2, h3, h4{
  color: $primary;
}

.entry-content ul li{
  padding-bottom:.65em;
}

.inset-photo{
  padding-bottom:1em;
}

#main h1.entry-title{
  font-size:2.875rem;
}

.entry-header .entry-title {
  margin-bottom: 0;
  letter-spacing: .0em !important;
}



@media only screen and (max-width: 478px) {
  #main h1.entry-title {
      font-size: 1.6rem;
  }
}



@media only screen and (max-width: 767px) {

  h1.elevator-pitch{
    display: none;
  }

  h1.entry-title,
  h2.entry-title,
  h1.page-title {
      font-size: 2.1rem !important;
       letter-spacing: .035em !important;
       padding-bottom: .5em;
  }

}



@media only screen and (min-width: 768px) {

 /*hide below 768*/
  h1.elevator-pitch{
    display: block;
    // width: 80%;
    text-align: center;
    /* border: 1px dotted red; */
    margin: 0 auto;
    // padding-top: .5em;
    padding: .75em 2em 1em 2em;
    color:white;
    background-color: black;
    width:100%;
  }


h1.entry-title,
h2.entry-title,
h1.page-title {
    font-size: 2.875rem !important;
     letter-spacing: .035em !important;
     padding-bottom: .5em;
}

}


.page.page-one-column .entry-header,
.twentyseventeen-front-page.page-one-column .entry-header,
.archive.page-one-column:not(.has-sidebar) .page-header {
    margin-bottom: 0;
  }

  .entry-header .entry-title {
    margin-bottom: 0;
}


h1.entry-title,
h2.entry-title,
h1.page-title{
  padding-bottom:0;
  margin-bottom:.5em !important;
}


@media screen and (min-width: 600px){

  h1.cycle-icon,
  h2.cycle-icon{
    background-image: url("images/cycle-icon.svg");
    background-repeat: no-repeat;
    padding-left:1.6em;
  }

}


@media screen and (min-width: 48em){

  .site-content {
      padding-bottom: 5.5em;
      padding-top: 3em;
      padding-left:0;
      padding-right:0;
  }

  .panel-content .wrap {
      border:0px dotted red;
      padding-bottom: 0em;
      padding-top: 3em;
  }



}


// remove the underline from all anchor tags
.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong,
.entry-content a:hover,
.entry-summary a:hover,
.widget a:hover,
.site-footer .widget-area a:hover,
.posts-navigation a:hover,
.widget_authors a strong:hover {
    box-shadow: none;
}
